
    <div class="container">
        
        <div class="login-box">
            <h2>Disaster Management System</h2>
            <form action="#">
                <div class="input-container">
                    <input type="text" name="username" required="required">
                    <label for="username">Username</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" required="required">
                    <label for="password">Password</label>
                </div>
                <div class="btn-container">
                    <button type="submit">Login</button>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="background-image"></div> <!-- Only keep the div -->
            </form>
        </div>
    </div>
    
    

